body {
    font-family: Droid Sans, Arial, Helvetica, sans-serif;
	background-color: moccasin;
}

iframe { border: none; }

.row {
	display: flex;
}
  
.column {
	flex: 50%;
}

code {
	background-color: rgb(235, 235, 235, 0.5);
	font-family: Inconsolata, monospace;
}

textarea{
	background-color: rgba(223, 223, 223, 0.884);
	font-family: Inconsolata, monospace;
}

.main {
    margin-left:12%;
	margin-right:12%;
}

.top{
    float:top;
}

.top .title {
	text-align: center;
	height:50px;
}
 
img { display: block; }

td {
	height: 30px;
}

a:link {color: rgb(45, 45, 45)}		/* unvisited link */
a:visited {color: rgb(45, 45, 45)}	/* visited link */
a:hover {color: black;text-decoration: underline dotted;}	/* mouse over link */
a:active {color: black;text-decoration: underline dotted;}	/* selected link */

/* ----------------------------------------------------- */
/* | Below is copied from Google Fonts (thanks google) | */
/* ----------------------------------------------------- */

/* latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(https://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/inconsolata/v21/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8WRP2l2eY.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/inconsolata/v21/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8WR32lw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}